<div class="pull-right">
  <%= link_to "Edit", edit_user_path( @user), :class => "btn btn-primary" %>
</div>
<div>
  <%= @user.first_name %>
</div>
<div>
  <%= @user.Last_name %>
</div>
<div>
  <%= @user.phone %>
</div>
<div>
  <%= @user.user_id %>
</div>
<div>
  <%= @user.email %>
</div>
